<div *ngIf="user" class="row">

  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <img src="assets/img/boathouse-cottage-dock.jpg">
        <span class="card-title">
          {{user?.fname}} {{user?.mname}} {{user?.lname}}
        </span>
        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">edit</i></a>
      </div>
      <div class="card-content">
          <div class="chip green darken-2 white-text text-white">
            {{user?.department.name}}
          </div>
          <div *ngFor="let role of user.user_roles" class="chip green darken-2 white-text text-white">
            {{role?.role.name}}
          </div>
          <div *ngFor="let status of user.user_status" class="chip green darken-2 white-text text-white">
            {{status?.status.name}}
          </div>
        <p style="font: size 10px;">{{user?.email}}</p>
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <p><strong>Birth Date: </strong> {{user?.b_day | birthdate}}</p>
    <p><strong>Date hired: </strong> {{user?.date_hired | birthdate}}</p>
    <p><strong>Employee ID: </strong> {{user?.employee_id}}</p>
    <p><strong>Username: </strong> {{user?.username}}</p>
  </div>

</div>